@import "../styles/variables";

.button {
    display: block;
    width: 100%;
    padding: 1.5rem;
    border: 2px solid $primary-color;
    border-radius: 4px;
    background-color: transparent;
    color: $primary-color;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;

    &:focus {
        outline: 0;
        background-color: $primary-color-light;
    }
}
