@import "../../common/styles/variables";

.players-list {
    display: flex;
    flex-flow: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    overflow-y: auto;
    align-items: flex-start;
    align-content: flex-start;

    .player {
        width: 33.3333%;
        text-align: center;

        @media (min-width: $medium-bp) {
            width: 25%;
        }
    }
}
