.locations-carousel {
    position: relative;
    padding-top: calc(66.66666%);
    margin-bottom: 3rem;

    .location {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        &__image {
            margin-bottom: 0;
        }

        &__title {
            padding: 2rem;
            position: absolute;
            top: 0;
            left: -100%;
            visibility: hidden;
            transition-property: left;
            transition-duration: 0.5s;
        }

        &-active {
            .location__title {
                visibility: visible;
                left: 0;
            }
        }
    }
}