@import "../../common/styles/variables";

.player {
    padding: 0 1rem 1rem;
    text-align: center;

    .player-image {
        margin-bottom: 1rem;
        padding: 1rem;
        display: inline-block;
        border-radius: 50%;
    }

    .game-header & {
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 2rem;

        .player-image {
            margin-bottom: 0;
        }

        .player-name {
            margin-right: 1.5rem;
        }
    }
}
