.new-game-page {
    height: 100%;

    .container {
        height: 100%;
    }

    .game-id {
        font-weight: 700;
        text-align: center;
        font-size: 3rem;
    }

    .new-game-players {
        .new-game-players-title {
            flex-grow: 0;
        }

        .players-list {
            flex-grow: 1;
        }
    }
}
