.new-game-page {
    height: 100%;

    .container {
        height: 100%;
    }

    .game-id {
        font-weight: 700px;
        text-align: center;
        font-size: 2.2rem;
    }

    .players {
        height: 40%;
    }
}
