.start-game-page {
    height: 100%;

    .container {
        height: 100%;
    }

    .logo {
        padding: 2rem 0;
    }
}

.buttons-container {
    .start-game {
        margin-bottom: 2rem;
    }
}
