.start-game-page {
    height: 100%;

    .container {
        height: 100%;
    }

    .logo {
        padding: 4rem 0;
    }

    .buttons-container {
        margin-bottom: 5rem;

        .start-game {
            margin-bottom: 2rem;
        }
    }
}
