@import "../../common/styles/variables";

.start-game-page {
    height: 100%;

    &__container {
        height: 100%;

        @media (orientation: landscape) {
            padding: 3.5rem 7rem;
        }
    }

    &__logo {
        padding: 4rem 0;

        @media (max-height: $small-height-bp) {
            padding: 1rem 0;
        }
    }

    &__buttons-container {
        margin-bottom: 4rem;
    }

    &__start-game-button {
        margin-bottom: 2rem;
    }
}
