@import "../../common/styles/variables";

.new-game-page {
    height: 100%;

    &__container {
        height: 100%;

        @media (min-width: $x-large-bp) {
            width: auto;
        }
    }

    &__mainbar {
        @media (orientation: landscape) {
            background-color: $primary-color-x-light;
            border-right: 2px solid $primary-color;
        }
    }

    &__game-id {
        font-weight: 700;
        text-align: center;
        font-size: 3rem;
    }

    &__players {
        .players-list {
            flex-grow: 1;
        }
    }

    &__players-title {
        flex-grow: 0;

        @media (orientation: landscape) {
            margin-top: 2rem;
        }
    }

    &__qr-code {
        width: 100%;
        height: auto;
    }
}
